$background-color: #141414;

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: $background-color;
}

header {
  z-index: 4;
  background-color: transparent;
  position: fixed;
  width: 100vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.363) 0%, rgba(62, 62, 62, 0.048) 100%);
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  .header-1 {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    img {
      width: 12rem;
    }
    ul {
      list-style: none;
      display: flex;
      padding: 0 1.2rem 0;
      li {
        color: rgba(255, 255, 255, 0.815);
        padding: 0 1.3rem 0;
        font-size: 1.4rem;
        transition: 0.3s;
        &:first-child {
          font-weight: bold;
        }
        &:hover {
          cursor: pointer;
          color: rgb(192, 192, 192);
        }
      }
    }
  }
  .header-2 {
    display: flex;
    align-items: center;
    padding-right: 8rem;
    p {
      color: white;
      padding: 0 1.8rem 0;
      font-size: 1.4rem;
    }
    span {
      padding: 0 1rem 0;
      font-size: 1.8rem;
      color: white;
      i {
        &:hover {
          cursor: pointer;
        }
      }
    }
    img {
      margin-left: 1.4rem;
      padding: 1rem 0;
      width: 4rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

i {
  cursor: pointer;
}

.mainMovie {
  &-data {
    transition: top 0.8s ease;
    z-index: 1;
    img {
      width: 35rem;
      transition: width 0.9s ease 0.1s;
      margin-bottom: 1.4rem;
    }
    p {
      transition: visibility 0.9s ease, opacity 0.6s ease;
    }
    position: absolute;
    top: 18vw;
    left: 5rem;
    font-size: 1.8rem;
    font-weight: 400;
    width: 35%;
    color: rgb(220, 220, 220);
  }
  &-controls {
    z-index: 1;
    position: absolute;
    left: 85vw;
    top: 65vh;
    img {
      cursor: pointer;
      width: 4rem;
      &:hover {
        background-color: rgba(136, 136, 136, 0.479);
        border-radius: 50%;
      }
    }
  }
  &-video {
    img {
      width: 100%;
      height: 100vh;
    }
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to top, $background-color, transparent);
  }
}

.movie {
  display: flex;
  transition: 0.1s;
  width: 15rem;
  margin-right: 1.4rem;
  &-poster {
    img {
      width: 13rem;
      height: 20rem;
      border-radius: 0.6rem;
      object-fit: cover;
    }
  }
  &-info {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

.carouselContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: absolute;
  top: 82vh;
  width: 100%;
  &-carousel {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    margin-bottom: 5rem;
    .carousel-movies {
      overflow: hidden;
      scroll-behavior: smooth;
      white-space: nowrap;
      display: inline-flex;
      .carouselControls {
        transition: 0.3s;
        display: flex;
        visibility: hidden;
        opacity: 0;
        align-items: center;
        z-index: 6;
        span {
          color: white;
          font-size: 3rem;
        }
        .prev {
          position: absolute;
          left: 1.4rem;
        }
        .next {
          position: absolute;
          right: 1.4rem;
        }
      }
      &::after {
        content: "";
        z-index: 1;
        position: absolute;
        right: 0;
        width: 10rem;
        height: 20rem;
        background: linear-gradient(to left, #141414d7, transparent);
      }
    }

    .carousel-title {
      margin-bottom: 1.2rem;
      p {
        font-size: 2rem;
        font-weight: bold;
        color: white;
      }
    }

    &:hover {
      .carouselControls {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.card {
  display: flex;
  width: 55rem;
  height: 20rem;
  .movie {
    &-info {
      background: #0f0f0ff3;
      border-radius: 0.6rem;
      width: 30rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 1;
      visibility: visible;
      .movie-title {
        display: flex;
        white-space: initial;
        text-align: center;
        p {
          color: rgb(204, 204, 204);
          font-weight: bold;
          padding: 0.8rem;
          font-size: 1.8rem;
          overflow-wrap: normal;
          word-wrap: normal;
        }
      }

      .movie-numbers {
        display: flex;
        flex-direction: row;
        .likelihood {
          p {
            color: rgb(1, 173, 1);
            font-size: 1.5rem;
            font-weight: bold;
          }
          margin: 0.5rem 1rem;
        }
        .length {
          p {
            font-size: 1.4rem;
            font-weight: bold;
            color: rgb(155, 155, 155);
          }
          margin: 0.5rem 1rem;
        }
      }

      .genres {
        display: flex;
        flex-direction: row;
        white-space: initial;
        margin: 1rem 0 0.2rem 0;
        p {
          color: rgb(120, 120, 120);
          font-weight: bold;
          font-size: 1.2rem;
          overflow-wrap: normal;
          padding: 0 1rem;
        }
      }
      .overview {
        overflow-y: hidden;
        white-space: initial;
        padding: 1.2rem;
      }
      p {
        overflow-wrap: normal;
        display: -webkit-box;
        word-wrap: normal;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-align: center;
        font-size: 1.2rem;
        color: rgb(180, 180, 180);
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    background-color: solid;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, #1111115e 100%);
    .header-1 {
      width: 100%;
      padding-left: 2rem;
      img {
        width: 10rem;
      }
      ul {
        visibility: hidden;
      }
    }
    .header-2 {
      visibility: hidden;
    }
  }
  .carouselContainer {
    top: 8rem;
    &-carousel {
      padding: 0 2.2rem;
      .carousel-movies {
        overflow: scroll;
      }
      .carousel-title {
        color: rgb(210, 210, 210);
      }
    }
  }
  .movie {
    &-poster {
      img {
        width: 12rem;
        height: 18rem;
      }
    }
    &-controls {
      visibility: hidden;
    }
  }
}
